html {
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui; /*system-ui si la police Poppins n'est pas disponible*/  
}

/* -------HEADER ---------*/

li{
    list-style: none;
}

a{
    text-decoration: none;
    color : #fff;
    font-size : 1 rem;
}

header{
    position: fixed; /*pour fixer la nav bar en haut de l'écran*/
    top: 0;
    left: 0;
    right: 0;
    padding : 0 2rem;
    background-color: rgba(0,0,0,0.300);
    z-index: 9999;
    
}

.nav{
    width: 100%;
    max-width: 1200px;
    height: 60px ;
    margin: 0 auto;
    display: flex ;
    align-items: center;
    justify-content: space-between ;
    
}

.nav .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: left;
}

.nav .links li {
    position: relative;
    padding-bottom: 5px;
}

.nav .links li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.4s ease-in-out;
}

.nav .links li:hover::after {
    width: 100%;
}

.nav .links {
    display: flex;
    gap : 2rem;
    
}

.buttons{
    display: flex;
    gap: 10px;
    
}

.action-button{     /*cv et se contacter*/
    background-color:aliceblue;
    color:black;
    border : 1px solid aliceblue;
    padding : 0.5rem 1.2rem ;
    border-radius : 5px ;
    outline: none;
    font-size : 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s all;
}

.action-button:hover{
    color:aliceblue;
    border : 1px solid aliceblue;
    transition: 0.5s all;
}

.cv{
    background-color: transparent;
    color:#fff;
    border : 1px #fff;
}

.cv:hover{
    background-color: aliceblue;
    color :black;
}

.contacter:hover{
    background-color:transparent;
    color :aliceblue;
}

/* -------BURGER MENU---------*/

.burger-menu{
    display:none;  /*pas affiché de base*/
    height: 300px;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(15px); /*floute l'arriere plan dans un rayon de 5px*/
    border-radius: 10px; 
    overflow: hidden; /*masque le contenu qui dépasse*/
}

.burger-menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;



}

.divider {
    height: 1px;
    background-color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem ;
}

.burger-menu .action-button {
    width : 80%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.buttons-burger-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;


}
.burger-button{
    display:none;
    position: absolute ;
    top:10px;
    right:10px;
    color :#fff;
    

}
.input-burger-checkbox{
    visibility: hidden; /*invisible*/
}

#burger-checkbox:checked ~ .burger-menu { /*si la checkbox est activé, burger-menu est affiché*/
    display: block; 
}
/* -------WELCOM---------*/

.welcom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #1f56b0;
    position: fixed;
}

.annimation {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 1px;
    color: #fff;
    display: inline-block;
    animation: fadeIn 1.5s forwards;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.first {
    display: inline-block;
    font-weight: 500;
    animation: firstSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    position: relative;
    z-index: 1;
}

.slide {
    display: inline-flex;
    overflow: hidden;
}

.second {
    font-weight: 300;
    display: inline-block;
    animation: secondSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: -1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes firstSpan {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes secondSpan {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.presentation{
    opacity: 0;
    transform: scale(0.99);
    animation: showDiv 1.75s ease-in-out 1s forwards;
}
.presentation p{
    color: #fff;
}

@keyframes showDiv {
    0% {
        opacity: 0;
        transform: scale(0.99);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.savoir{
    margin-top: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.main {
    position: absolute;
    height: 100vh;
}
.savoir:hover{
    background-color:transparent;
    color :aliceblue;
}

/* -------A PROPOS---------*/
.trans{
    position: absolute;
    top: 100vh;
    height: 200px;
    width: 100%;
    left: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    margin-bottom: 200px;
}
#propos{
    position: absolute;
    top: 130vh;
    height: 3000px; 
    width: 100%;
    left: 0;
    background-color: #2376da;
    padding: 0;
    margin: 0;

}
.divider-containers {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #2376da;
    margin-top: 6%;
    animation: title linear;
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
    animation-timeline: view();
}
#cv{
    background-color: #1f56b0;
}
#dividers-projet{
    top:0;
    background-color: #1f56b0;
}

.dividers {
    flex: 1;
    height: 2px;
    background-color: white;
    margin: 0 10px;
}

.title {
    font-size: 2rem; 
    font-weight: bold;
    color:white;
    
}

@keyframes title {
    0% {
        opacity: 0;
        transform: scale(0.0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.item-about-me{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    min-height: 200px;
    margin-left:auto ;
    margin-top: 5%;
    background: linear-gradient(to right, #ffffff, #ededee);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    margin-right: 2%;
    animation: item-keyframe linear;
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
    animation-timeline: view();
    
}

@keyframes item-keyframe {
    0% {
        opacity: 0;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1.0;
        
    }
}
.about-me-desc{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: end;
    text-align: end;
    margin-left: 5%;
    margin-top: 23px;
    margin-bottom: 23px;
}
.about-me-desc h2{
    color : transparent;
    -webkit-text-stroke: 1px #1f56b0;
    position: relative;
    font-size: 2rem;
}
.about-me-desc h2::before{
    content:"Presentation";
    position: absolute;
    width: 0;
    top:0;
    left: 0;
    height: 100%;
    overflow: hidden;
    color: #1f56b0;
    transition: 1s ease-in-out;
}
.about-me-desc h2:hover::before{
    width: 100%;

    
}

.about-bar{
    display: flex;
    width: 50px;
    height: auto;
    margin-right: 8%;
    margin-left:8% ;
    align-items: center;
    flex-direction: column;
}
.dividers1{
    width: 2px;
    background-color: #1f56b0;
    height: 50px;
    align-self: center;
    
}
.fa-solid{
    display: block;
    color: #1f56b0;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-parcours{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    min-height: 275px;
    margin-right:auto ;
    margin-top: 5%;
    margin-left: 2%;
    background: linear-gradient(to left, #ffffff, #ededee);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    animation: item-parcours linear;
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
    animation-timeline: view();
}
@keyframes item-parcours  {
    0% {
        opacity: 0;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1.0;
        
    }
}
.parcours-desc{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items:start;
    text-align: start;
    margin-right: 5%;
    margin-top: 23px;
    margin-bottom: 23px
}
.parcours-bar{
    display: flex;
    width: 50px;
    height: auto;
    margin-right: 8%;
    margin-left:8% ;
    align-items: center;
    flex-direction: column;
}
.parcours-desc h2{
    color : transparent;
    -webkit-text-stroke: 1px #1f56b0;
    position: relative;
    font-size: 2rem;

}
.parcours-desc h2::before{
    content:"Parcours";
    position: absolute;
    width: 0;
    top:0;
    left: 0;
    height: 100%;
    overflow: hidden;
    color: #1f56b0;
    
    transition: 1s ease-in-out;
}
.parcours-desc h2:hover::before{
    width: 100%;
    
}

.etablissement{
    display: flex;
    align-items: flex-end;
    margin-top: 4%;
    margin-bottom: 2%;
    gap: 10px;
}
.etablissement h6{
    font-weight: 600;
}

.item-skills{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    min-height: 200px;
    margin-left:auto ;
    margin-top: 5%;
    background: linear-gradient(to right, #ffffff, #ededee);
    border-radius: 8px;
    margin-right: 2%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    animation: item-skill linear;
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
    animation-timeline: view();
}
@keyframes item-skill{
    0% {
        opacity: 0;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1.0;
        
    }
}
.skills-desc{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: end;
    text-align: end;
    margin-left: 5%;
    margin-top: 23px;
    margin-bottom: 23px
}
.skills-bar{
    display: flex;
    width: 50px;
    height: auto;
    margin-right: 8%;
    margin-left:8% ;
    align-items: center;
    flex-direction: column;
}
.bar-icon{
    font-size: 20px;
}
.skills-desc h2{
    color : transparent;
    -webkit-text-stroke: 1px #1f56b0;
    position: relative;
    font-size: 2rem;    
}
.skills-desc h2::before{
    content:"Skills";
    position: absolute;
    width: 0;
    top:0;
    left: 0;
    height: 100%;
    overflow: hidden;
    color: #1f56b0;
    transition: 1s ease-in-out;
}
.skills-desc h2:hover::before{
    width: 100%;

    
}
.skills-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap : 12px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.skill-box{
    width: 120px;
    border: 2px solid #007bff; 
    color: #007bff;
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.icon{
    height: 60px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}
.icon-title{
    justify-content: center;
    align-items: center;
}
.wave{
    padding-top: 0vh;
}
.download{
    display: block;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 100%;
    min-height: 1500px;
    top:0;
}
.top-download{
    margin-top: 5%;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: download-frames linear;
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
    animation-timeline: view();
}
@keyframes download-frames  {
    0% {
        opacity: 0;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1.0;
        
    }
}
.download p{
    color: #fff;
}
.item-download{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
    margin-top: -30px;
    background-color: #1f56b0;
}
.button{
    
     /* -----fait que ce n'esrt pas centrer ----*/
    margin-left:2%;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.256,1.55);
    overflow: hidden;
    position: relative;
    height: 40px;
}
.button.active{
    height: 20px ;
    width: 40%;
}
.button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: #062f73 ;
    border-radius:55px ;
}
.button.active::before{
    animation: layer 6s ease-in-out forwards;
}
@keyframes layer{
    100%{
        left:0%;
    }
}
.action-button.button:hover{
    background-color:transparent;
    color :aliceblue;
}
.action-button.button:hover .button-text{
    background-color:transparent;
    color :aliceblue;
}
.action-button.button:hover .download-icon{
    background-color:transparent;
    color :aliceblue;
}


.button .content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    transition-delay: 0.2s;
}
.button.active .content{
    transform: translateY(60px);
}


.download-icon{
    color:black ;
    margin-right: 8px;
}
.content .button-text{
    color: black;
}


/* -------PROJETS---------*/

.projets{
    padding-top : 20vh;

    background-color: #1f56b0;
    display: flex;
}
.item-projets{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    animation: projet-frames linear;
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
    animation-timeline: view();
}
@keyframes projet-frames  {
    0% {
        opacity: 0;
        scale: 0.5;
    }
    100% {
        opacity: 1;
        scale: 1.0;
        
    }
}

.projet-box {
    height: 600px;
    width: 300px;
    background-color: #ededee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.item-projets p {
    color: black;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.item-projets bold{
    color: #1f56b0;
    font-weight: 650;
}

.item-projets h4 {
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    text-align: center;
}
.item-projets i {
    margin-top: 25px;
    font-size: 35px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease-in-out;
}

.image-container {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}
.image-container:hover img {
    filter: brightness(75%);
}

.button-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 200px;
    transition: opacity 0.3s ease-in-out;
}

.image-container:hover .button-overlay {
    opacity: 1;
}

/* -------ME CONTACTER---------*/

.item-contacter{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    width: 100%;
    height: 200px;
    align-items: center;
    animation: download-frames linear;
    animation-range-start: cover 0%;
    animation-range-end: cover 15%;
    animation-timeline: view();
}
.icon-contact{
    height: 60px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.contacter-divider{
    width: 5px;
    height: 100px;
    background-color: #fff;
}

/* -------RESPONSIVE---------*/
@media (max-width : 1200px){
    #propos{
        top: 120vh;
    }
    .item-about-me{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .item-parcours{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .item-skills{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media (max-width : 780px){
    #propos{
        top: 112vh;
    }
}
@media (max-width : 500px){
    #propos{
        top: 110vh;
    }
}


@media (max-width : 990px){
    header{
        background:none;
        background-color: rgba(0,0,0,0.300);
    }
    .nav .links,
    .nav .action-button{
        display: none;
    }
    .burger-button{
        display: block;
    }

}
@media (max-width : 768px){
 
}
